<h1>Restaurant Finder</h1>
<h2>Welcome to <%= @user.username%>'s homepage! </h2>

<h3>Here are the restaurants reviewed by <%=@user.username%>:</h3>
<ul>
  <% @user.reviewed_restaurants.each do |r|%>
  <li> <%= link_to r.name_and_category, restaurant_path(r)%> </li>
  <% end %>
</ul>

