<h1>All the Restaurants</h1> 
<% @restaurants.each do |r| %>

    <h2><%= link_to r.name, restaurant_path(r.id)%> - <%= r.category %> </h2>
    <%= link_to "Write a review", new_restaurant_review_path%>
    <div>
      <p><%= r.address %></p>
    </div>
